body{
	background-image: url('../images/background.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	margin: 0px;
	padding: 0px;
}
header {
	position: fixed;
	top: 0; /* Keep the nav bar fixed at the top */
	width: 100%;
	height: 100px;
	background: #99dfe6;
	border-bottom: 2px solid #000000;
	border-radius: 0 0 10px 10px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	z-index: 2;
  }

.navbar{
	display: flex; /* Creating the box affect for navigation order */
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	height: 100px;
}

.logo img{
    max-height: 100px;
    width: auto;
}

.title{
	font-family: 'Boogaloo', cursive;
	font-size: 20px;
	flex-grow: 1;
	text-shadow: 2px 2px 0 #000;
	color: #f8db6e;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

nav li{
	margin: 0 7px;
}

nav a{
	font-weight: bold;
	padding: 15px 20px;  /*Space between text and border Y,X*/
	border: 2px solid #000000; /*Border around buttons*/
	border-radius: 5px; /*Round corners*/
	color: #000000; /*Font color on buttons*/
	text-decoration: none; /*No underline*/
	background-color: #f8db6e; /*button background color*/
}

nav a.button{
	background-color: #000000; /*button color for selectable webpage*/
}

nav a.active{
	background-color: #000000; /*button color for active webpage*/
}

nav a:hover{
	background-color: #ffe249; /*button color when mouse hovers over*/
}
#registrationDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    font-family: 'Boogaloo', cursive;
    width: 40%;
    padding: 20px;
    margin-top: 15%;
    margin-left: 28%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#inner-title {
    font-size: 200%;
    color: darkgoldenrod;
    margin-bottom: 5%;
}

/* Style for input fields */
input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin: 4px auto;
    border: 2px solid #000000;
    border-radius: 5px;
}

/* Style for the "Sign Up" button */
#signUpButton {
    width: 50%;
    padding: 15px 20px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: lightskyblue;
    cursor: pointer;
    font-weight: bold;
}

#signUpButton:hover {
    background-color: #000000;
}

/* Style for the "Already Have an Account" message */
#YesAccount {
    font-size: 18px;
    margin: 10px auto;
}

/* Style for the registration result message */
#registerResult {
    font-weight: bold;
    color: red;
    margin: 10px auto;
}
/* Style for the error asterisks */
.error-asterisk {
	color: red;
	font-size: 22px;
	margin-left: 5px;
	display: none; /* Initially hide the asterisks */
}