body{
	background-image: url('../images/background.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	margin: 0px;
	padding: 0px;
}

header{
    margin-top: -132px;
	width: 100%;
	height: 100px;
	background: #99dfe6;
	position: fixed;
	border-bottom: 2px solid #000000;
	border-radius: 0 0 10px 10px;
}

.navbar{
	display: flex; /* Creating the box affect for navigation order */
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	height: 100px;
}

.logo img{
	float: left;
    max-height: 100px;
    max-width: 100%;
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

nav li{
	margin-right: -15px;
}
#navLogin{
	padding-right: 25px;
}

nav a{
	font-weight: bold;
	padding: 15px 20px;  /*Space between text and border Y,X*/
	border: 2px solid #000000; /*Border around buttons*/
	border-radius: 5px; /*Round corners*/
	color: #000000; /*Font color on buttons*/
	margin-right: 30px; /*How far buttons are from right*/
	text-decoration: none; /*No underline*/
	background-color: #f8db6e; /*button background color*/
}

nav a.button{
	background-color: #000000; /*button color for selectable webpage*/
}

nav a.active{
	background-color: #000000; /*button color for active webpage*/
}

nav a:hover{
	background-color: #ffe249; /*button color when mouse hovers over*/
}
.registrationDiv{
	margin-top: 130px;
	margin-left: 32.5%;
	border-radius: 10px 10px 10px 10px;
	font-size: 15px;
	width: 30%;
	padding: 25px;
	background-color: white;
	box-shadow: 15px 15px 20px 4px;
	height: 400px;
} 

#registerFirstName, #registerLastName, #registerPhoneNum, #registerUsername, #registerPassword, #confirmPassword{
	font-size: 20px;
}

input[type="text"], input[type="number"], input[type="password"]{
	border-radius: 0px;
	text-align: center;
	width: 77%;
	margin-left: 36px;
	margin-bottom: 7%;
	font-family: serif;
    border-radius: 7px;
}
#registerFirstName{
	width: 141px;
}

#registerLastName{
	width: 141px;
	margin-left: 188px;
	margin-top: -55px;
}

.buttons{
	font-size: 16px;
	border-radius: 5px;
	width: 77%;
    height: 30px;
	margin-top: 16px;
	margin-left: 10%;
    margin-bottom: 15px;
	font-family: serif;
	color: black;
	background-color: lightcyan;
}

#inner-title{
	display: inline-block;
	font-size: 25px;
	width: 90%;
	text-align: center;
	margin-left: 4%;
    margin-top: 20px;
	margin-bottom: 10%;
	font-family: initial;
	color: darkturquoise;
}

.title{
	font-family: 'Boogaloo', cursive;
	font-size: 20px;
	flex-grow: 1;
	text-shadow: 2px 2px 0 #000;
	color: #f8db6e;
}

#YesAccount{
    margin-left: 38px;
}