body{
	background-image: url('../images/background.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	margin: 0px;
	padding: 0px;
}

header{
	width: 100%;
	height: 100px;
	background: #99dfe6;
	position: fixed;
	border-bottom: 2px solid #000000;
	border-radius: 0 0 10px 10px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	min-width: 800px;
}

.navbar{
	display: flex; /* Creating the box affect for navigation order */
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	height: 100px;
}

.logo img{
    max-height: 100px;
    width: auto;
}

.title{
	font-family: 'Boogaloo', cursive;
	font-size: 20px;
	flex-grow: 1;
	text-shadow: 2px 2px 0 #000;
	color: #f8db6e;
}



nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

nav li{
	margin: 0 7px;
}

nav a{
	font-weight: bold;
	padding: 15px 20px;  /*Space between text and border Y,X*/
	border: 2px solid #000000; /*Border around buttons*/
	border-radius: 5px; /*Round corners*/
	color: #000000; /*Font color on buttons*/
	text-decoration: none; /*No underline*/
	background-color: #f8db6e; /*button background color*/
}

nav a.button{
	background-color: #000000; /*button color for selectable webpage*/
}

nav a.active{
	background-color: #000000; /*button color for active webpage*/
}

nav a:hover{
	background-color: #ffe249; /*button color when mouse hovers over*/
}


/* table style */
.contacts-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	background-color: #fff;
    border-radius: 10px;
    box-shadow: 15px 15px 20px 4px;
    padding: 20px;
    width: 80%;
	max-width: 1200px;
	min-width: 600px;
    margin: 20px auto;
}

.action-box{
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}

#contacts{
	max-height: 500px;
	overflow-y: auto;
}

/*Search Box*/
.search-box{
	display: flex;
	align-items: center;
	width: 100%;
}

.search-box input[type="text"]{
	padding: 5px;
	border: 1px solid #000;
	border-radius: 5px;
}

/* Add Box */
.add-box {
	display: flex;
	width: 15%;
}

.add-box button{
	padding: 5px 30px;
	background-color: #f8db6e;
	border: 2px solid #000;
	border-radius: 5px;
	color: #000;
	cursor: pointer;	
}

.add-box button:hover{
	background-color: #ffe249;
}

/* Add Form */
.add-contacts-window{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);;
    border-radius: 10px;
    box-shadow: 15px 15px 20px 4px;
    padding: 20px;
    width: 80%;
	max-width: 400px;
	min-width: 400px;
    margin: 20px auto;
}

.add-Form{
	width: 100%;
	display: flex;
	flex-direction: column;
	//align-items: center;
}

.add-Form label{
	margin-bottom: 5px;
}

.add-Form input[type="text"]{
	padding: 5px;
	border: 1px solid #000;
	border-radius: 5px;
	margin-bottom: 10px;
}

.add-Form button{
	display: flex;
	justify-content: center;
	padding: 5px 20px;
	background-color: #f8db6e;
	border: 2px solid #000;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
	margin: 5px;
}

.add-Form button:hover{
	background-color: #ffe249;
}

/*Edit Form*/
.edit-contacts-window{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);;
    border-radius: 10px;
    box-shadow: 15px 15px 20px 4px;
    padding: 20px;
    width: 80%;
	max-width: 400px;
	min-width: 400px;
    margin: 20px auto;
}

.edit-Form{
	width: 100%;
	display: flex;
	flex-direction: column;
	//align-items: center;
}

.edit-Form label{
	margin-bottom: 5px;
}

.edit-Form input[type="text"]{
	padding: 5px;
	border: 1px solid #000;
	border-radius: 5px;
	margin-bottom: 10px;
}

.edit-Form button{
	display: flex;
	justify-content: center;
	padding: 5px 20px;
	background-color: #f8db6e;
	border: 2px solid #000;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
	margin: 5px;
}

.edit-Form button:hover{
	background-color: #ffe249;
}

/*Delete Form*/
.delete-contacts-window{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);;
    border-radius: 10px;
    box-shadow: 15px 15px 20px 4px;
    padding: 20px;
    width: 80%;
	max-width: 400px;
	min-width: 400px;
    margin: 20px auto;
}

.delete-Form{
	width: 100%;
	display: flex;
	flex-direction: column;
	//align-items: center;
}

.delete-Form button{
	display: flex;
	justify-content: center;
	padding: 5px 20px;
	background-color: #f8db6e;
	border: 2px solid #000;
	border-radius: 5px;
	color: #000;
	cursor: pointer;
	margin: 5px;
}

.delete-Form button:hover{
	background-color: #ffe249;
}

/*Edit and Delete Buttons*/
.button-cell{
	width: 80px;
}

.edit-button, .delete-button {
    border: 2px solid #000;
    border-radius: 5px;
	width: 32px;
	cursor: pointer;
}

.edit-button{
	margin-right: 7px;
}

.edit-button:hover, .delete-button:hover{
	filter: brightness(1.2);
}


/*Contacts table*/
table{
	font-family: Arial;
	border-collapse: collapse;
	width: 100%;
	border: none;
}

table td, #contacts th{
	padding: 8px;
}

table tr:nth-child(odd){
	background-color: #f2f2f2;
}

table tr:hover{
	background-color: #ddd;
}

table th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #99dfe6;
	color: #000000;
}

td:first-child, th:first-child{
	border-radius: 10px 0 0 10px;
}

td:last-child, th:last-child{
	border-radius: 0 10px 10px 0;
}