body{
	background-image: url('../images/background.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	margin: 0px;
	padding: 0px;
}

header{
	width: 100%;
	height: 100px;
	background: #99dfe6;
	position: fixed;
	border-bottom: 2px solid #000000;
	border-radius: 0 0 10px 10px;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.navbar{
	display: flex; /* Creating the box affect for navigation order */
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	height: 100px;
}

.logo img{
    max-height: 100px;
    width: auto;
}

.title{
	font-family: 'Boogaloo', cursive;
	font-size: 20px;
	flex-grow: 1;
	text-shadow: 2px 2px 0 #000;
	color: #f8db6e;
}



nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

nav li{
	margin: 0 7px;
}

nav a{
	font-weight: bold;
	padding: 15px 20px;  /*Space between text and border Y,X*/
	border: 2px solid #000000; /*Border around buttons*/
	border-radius: 5px; /*Round corners*/
	color: #000000; /*Font color on buttons*/
	text-decoration: none; /*No underline*/
	background-color: #f8db6e; /*button background color*/
}

nav a.button{
	background-color: #000000; /*button color for selectable webpage*/
}

nav a.active{
	background-color: #000000; /*button color for active webpage*/
}

nav a:hover{
	background-color: #ffe249; /*button color when mouse hovers over*/
}


#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}